{

 color:


}

h2 {

color:green
text-decoration: underline;


project {
color:blue
}

#services {
      color:darkred;
}

body {
   text-aligh: center;
}

ul {

   lish- style: name;
}

-contact {
   color:orange
}